* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
}
body {
  background: rgb(17, 24, 39);
  color: rgb(249, 250, 251);
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
    line-height: 1.2;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 10px;
    line-height: 1.2;
  }
}

h1, h2, h3, h4 {
  margin-top: var(--margin);
}

h1 { 
  font-size: 2.5rem; 
}

h2 {
  font-size: 2rem;
}

h3 { 
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem; 
}

a {
  color: rgb(37, 99, 235);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  font-family: monospace;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 1rem;
}

header.preview-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header strong {
  font-size: 1.2em;
  color: rgb(170, 170, 180);
}

nav {
  font-family: monospace;
  font-size: 0.9rem;
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

main {
  color: var(--color);
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  padding: var(--main-margin);
}

footer {
  font-family: monospace;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 1rem;
}

article {
  max-width: var(--article-max-width);
  margin: auto;
  overflow: hidden;
}

section {
  padding-bottom: var(--margin);
  margin-bottom: var(--margin);
  border-bottom: var(--section-border);
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%; 
  border-collapse: collapse;
}

th, td {
  text-align: center;
  border: 1px solid var(--border-color);
}


p {
  margin-bottom: var(--margin);
}

ul, ol {
  padding-left: 0;
  list-style-type: none;
}

button {
  all: unset;
  box-sizing: border-box;
  background-color: rgb(0, 0, 120);

  padding: 0.25rem 1rem; 

  border-radius: 0.25rem;
  box-shadow: inset -2px -2px 0 rgb(0, 0, 110);
  border: 1px solid rgb(0, 0, 160);
}
button:hover {
  background-color: rgb(0, 0, 150);
}

button:active {
  background-color: rgb(0, 0, 100);
  box-shadow: inset -2px -2px 0 rgb(0, 0, 80);
}

article ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
