.social-preview {
  width: 60ch;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-radius: 8px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.social-preview.small{
  font-size: 0.8em;
  width: 40ch;
  height: 40ch;
}

.preview-image {
  height: 25ch;
  width: 100%;
  background-color:rgb(64, 64, 64);
  background-size: cover;
  background-position: center;
}

.preview-text {
  background: white;
  height: 15ch;
  padding: 1rem;
}

.preview-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.preview-description {
  font-size: .9rem;
  color: rgb(68, 68, 68);
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
}

.preview-url {
  font-size: 0.8rem;
  color: rgb(102, 102, 102);
}
