.text-center {
  text-align: center;
  text-align: center;
}

.mb {
  margin-bottom: .5rem;
}

pb {
  padding-bottom: .5rem;
}

.gap {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.col{
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}
