:root {
  --main-font-family: Arial, sans-serif;
  --header-margin: .5rem;
  --main-margin: 1rem;
  --article-margin: 1rem;
  --article-max-width: 80ch;
  --margin: 1rem;
  --padding: .25rem;

  --section-border: 1px solid rgb(15, 15, 15); 
  --dfn-color: rgb(0, 90, 156);
  --dfn-border-color: rgb(0, 90, 156);
  --kbd-background-color: rgb(244, 244, 244);
  --kbd-border-color: rgb(204, 204, 204);
  --kbd-box-shadow-color: rgb(170, 170, 170);
  --code-background-color: rgb(249, 249, 249);
  --code-color: rgb(199, 37, 78);
  --var-background-color: rgb(243, 246, 255);
  --var-color: rgb(0, 92, 197);
  --cite-color: rgb(102, 102, 102);

  --border-radius: 5px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

html.dark {
  --color: rgb(240, 240, 240);
  --background-color: rgb(30, 30, 30);
  --figure-color: rgb(220, 220, 220);
  --figure-background-color: rgb(50, 50, 50);
  --border-color: rgb(100, 100, 100);
}

html.light {
  --color: rgb(30, 30, 30);
  --background-color: rgb(255, 255, 255);
  --figure-color: rgb(30, 30, 30);
  --figure-background-color: rgb(230, 230, 230);
  --border-color: rgb(221, 221, 221);
}


html.neon {
  --color: rgb(255, 0, 255);
  --background-color: rgb(110, 175, 210);
  --figure-color: rgb(220, 20, 20);
  --figure-background-color: rgb(50, 250, 50);
  --border-color: rgb(100, 100, 100);
}

html.dolphin {
  --color: rgb(205, 205, 255);
  --background-color: rgb(15, 15, 65);
  --figure-color: rgb(220, 220, 220);
  --figure-background-color: rgb(40, 2, 50);
  --border-color: rgb(100, 100, 100);
}
