
<section>
  <h2>Jada Pinkett</h2>
  <p>
    Last week was low friction and high clarity. That’s a rare combo for motivation. I'm knocking out must-do’s, stuff 
    that just bugs the crap out of me, and has me feeling some type of way—give a thoroughbred a mile of track,
    and he’ll make a race out of it. Ain’t no apologizing for it.
  </p>

  <p>
    That’s about enough chin-wagging. Let’s get down to brass tacks. Bottom line: where are we, and where are we going?
  </p>
</section>

<section>
  <h2>Area of Focus</h2>

  <p>
    The timeline has not changed: Abracadabra Sports launches to users in August. The only shift has come from new
    information that puts a slight hue on product design. Through my research, I’m confident the current leader in the
    space has made errors in key areas:
  </p>

  <ul>
    <li>
      Offering a baseline tier with marginal value while the premium features sit unused.
    </li>
    <li>
      Misunderstanding that the platform is used primarily for customer acquisition and marketing. The organizational
      and productivity utilities are more a net cost than a benefit to the user.
    </li>
  </ul>

  <h3>Steps to Market Dominance</h3>
  <p>
    The goal is still the same—be better. We do that by being more in touch with the user's business, more deliberate,
    and open as a platform. 
  </p>
  <p>
    What has changed is that the rate of expected organic growth may be much higher than the more optimistic estimates.
    Mo money mo problems—We need to simplify, refine, and make first contact as soon as able.
  </p>
  <ul>
    <li>
      <strong>Focused Engineering Effort –</strong> What we’ve got is already better. Everything we build going forward
      should aim to get new users up to speed and operational on day one.
    </li>
    <li>
      <strong>Entry Point –</strong> We're ready. The product speaks for itself. The sooner we launch, the faster we can
      iterate.
    </li>
  </ul>
</section>

<section>
  <h2>Build Progress</h2>

  <p>This is a build log, not a <em>going-to-build log</em>, so let’s get back on topic.</p>

  <p>
    I'm not a designer or a writer—I'm a programmer, god damn it, Jim. With that as preface, I don't think I did too 
    shabby on the landing page for Abracadabra Sports.
  </p>

  <p>
    It's also crystal clear that I’m way behind on these logs. Part of that is I didn’t have an
    organized way to get them onto this website. I was manually copying raw HTML to
    the server and editing links. Kind of jank. That's fixed now with my new content management system.
  </p>

  <p>
    There’s more, but mostly in the periphery. Stay tuned—I’ll have another update on Sunday. Fingers crossed that 
    most of the non-programming is wrapped up by then.
  </p>

</section>
<footer>
  <p>
    Godspeed, Spiderman.
  </p>
</footer>
