{% extends "publish/base.html" %}



{% block publish %}

<section>
  <h2>Staging Notice</h2>
    <p>
      To mainting a clean change log, it is recommended that you checkout a project
      before making any changes. Changes are automatically saved to the staging area 
      when switching between projects. You can also manually save changes to for the 
      active project by clicking the "Save" button in the workbook.
    </p>

  </section>

  <aside class="text-center">
    <a class="btn" href="/metadata/new/">Start a new project</a>
  </aside>

  <section>
  <table>
      <caption>
        <h2>Staging Projects</h2>
        <p>Click on a project to view the current state and make changes.</p>
        {{ entry.id }}
      <tbody>
        {% for key, canon in site_map.items()%}
        {% if entry.id == canon.id %}
        <tr class="active">
        {% else %}
        <tr>
        {% endif %}
          <td colspan="6">
          <details class="mb">
            <summary>
                <table>
                  <tr>
                    <td><small>Title:</small> <strong>{{ key}}</strong></td>
                  </tr>
                </table>
            </summary>
            <dl>
              <dt>Project</dt> <dd>{{ canon.project }}</dd>
              <dt>Group</dt> <dd>{{ canon.group}}</dd>
              <dt>Canonical</dt> <dd>{{ canon.canonical }}</dd>
            </dl>
          </details>
          </td>
          <td style="vertical-align: top; padding-top: .25rem;">
            <a class="btn" href="/api/checkout/{{ canon.group }}/{{ canon.project }}">Checkout</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
