{% extends "publish/base.html" %}



{% block publish %}

<section>
  <h2>Staging Notice</h2>
    <p>
      To mainting a clean change log, it is recommended that you checkout a project
      before making any changes. Changes are automatically saved to the staging area 
      when switching between projects. You can also manually save changes to for the 
      active project by clicking the "Save" button in the workbook.
    </p>

  </section>

  <aside class="text-center">
    <a class="btn" href="/metadata/new/">Start a new project</a>
  </aside>

  <section>
    <caption>
      <h2>Staging Projects</h2>
      <p>Click on a project to view the current state and make changes.</p>
    </caption>
    <div class="col">
    {% for key, canon in site_map.items()%}
      <div class="mb row">
        <details class="grow">
          {% if entry.id == canon.id %}
            <summary class="active">
          {% else %}
            <summary>
          {% endif %}
              <table>
                <tr>
                  <td><small>Title:</small> <strong>{{ key}}</strong></td>
                </tr>
              </table>
            </summary>
            <dl>
              <dt>Project</dt> <dd>{{ canon.project }}</dd>
              <dt>Group</dt> <dd>{{ canon.group}}</dd>
              <dt>Canonical</dt> <dd>{{ canon.canonical }}</dd>
            </dl>

          <a class="btn"  href="/preview/{{ canon.group }}/{{ canon.project }}">Preview</a>
        </details>
        <div style="vertical-align: top; margin: 6px; line-height: 1.5rem;">
          <a class="btn"  href="/api/checkout/{{ canon.group }}/{{ canon.project }}">Checkout</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
