{% extends "publish/base.html" %}
{% block publish %}
<section>
  <h2>Editorial Control</h2>
  <p>
    Use the workbook to manage the editorial process for your project. 
    You can view the current state of the project, make changes, and preview the 
    results before publishing.
  </p>
  <aside class="actions">
    <a href="/metadata/canonical/">Add Info</a>
    <a href="/publish/changes/">Changes</a>
  </aside>
  <div class="card">
    <dl>
      <dt>Public</dt> <dd>{{ entry.canon.public }}</dd>
      <dt>Project</dt> <dd>{{ entry.canon.project}}</dd>
      <dt>Group</dt> <dd>{{ entry.canon.group}}</dd>
      <dt>Last Updated</dt> <dd>{{ entry.canon.canonical }}</dd>

      <dt>Title</dt> <dd>{{ entry.basic.title }}</dd>
      <dt>Author</dt> <dd>{{ entry.basic.author }}</dd>
      <dt>Date</dt> <dd>{{ entry.basic.date}}</dd>
      <dt>Last Updated</dt> <dd>{{ entry.basic.modified}}</dd>
    </dl>

    <div class="social-preview small">
      <div class="preview-image" style="background-image: url({{ entry.social.image }});">
      </div>
      <div class="preview-text">
        <div class="preview-title">
          {{ entry.basic.title }}
        </div>
        <div class="preview-description">
          {{ entry.basic.description }}
        </div>
      </div>
    </div>

  </div>
  </section>

{% endblock %}
