{% extends "metadata/base.html" %}
{% block form %}

<label>twitter:title<input type="text" name="twitter_title" value="{{ entry.advanced.twitter_title }}"></label>
<label>twitter:description<input type="text" name="twitter_description" value="{{ entry.advanced.twitter_description }}"></label>
<label>twitter:image<input type="text" name="twitter_image" value="{{ entry.advanced.twitter_image }}"></label>
<label>twitter:image:alt<input type="text" name="twitter_image_alt" value="{{ entry.advanced.twitter_image_alt }}"></label>

<label>og:title<input type="text" name="og_title" value="{{ entry.advanced.og_title }}"></label>
<label>og:description<input type="text" name="og_description" value="{{ entry.advanced.og_description }}"></label>
<label>og:image<input type="text" name="og_image" value="{{ entry.advanced.og_image }}"></label>
<label>og:image:alt<input type="text" name="og_image_alt" value="{{ entry.advanced.og_image_alt }}"></label>
<label>og:url<input type="text" name="og_url" value="{{ entry.advanced.og_url }}"></label>

<label>og:site_name<input type="text" name="og_site_name" value="{{ entry.advanced.og_site_name }}"></label>

<label>
  og:locale
  <select name="og_locale">
    <option value="en_US">en_US</option>
    <option value="en_GB">en_GB</option>
    <option value="fr_FR">fr_FR</option>
    <option value="es_ES">es_ES</option>
  </select>
</label>

<label>og:article:author<input type="text" name="og_article_author" value="{{ entry.advanced.og_article_author }}"></label>
<label>og:article:section<input type="text" name="og_article_section" value="{{ entry.advanced.og_article_section }}"></label>
<label>og:article:tag<input type="text" name="og_article_tags" value="{{ entry.advanced.og_article_tag }}"></label>

<h3>Schema.org</h3>

<label>
  schema:type
  <select name="schema_type">
    <option value="Article">Article</option>
    <option value="CreativeWork">CreativeWork</option>
    <option value="BlogPosting">BlogPosting</option>
    <option value="NewsArticle">NewsArticle</option>
    <option value="WebPage">WebPage</option>
  </select>
</label>

<label>schema:id<input type="text" name="schema_id" value="{{ entry.advanced.schema_id }}"></label>
<label>schema:headline<input type="text" name="schema_headline" value="{{ entry.advanced.schema_headline }}"></label>
<label>schema:description<input type="text" name="schema_description" value="{{ entry.advanced.schema_description }}"></label>
<label>schema:datePublished<input type="text" name="schema_date" value="{{ entry.advanced.schema_date }}"></label>
<label>schema:dateModified<input type="text" name="schema_modified" value="{{ entry.advanced.schema_modified }}"></label>
<label>schema:author<input type="text" name="schema_author" value="{{ entry.advanced.schema_author }}"></label>
<label>schema:publisher<input type="text" name="schema_publisher" value="{{ entry.advanced.schema_publisher }}"></label>

<button type="submit">Submit</button>
{% endblock %}
