{% extends "base.html" %}

{% block nav %}
{% if entry %}
<nav>
  <a href="/metadata/canonical/">Canonical</a>
  <a href="/metadata/basic/">Basic</a>
  <a href="/metadata/social/">Social</a>
  <a href="/metadata/advanced/">Advanced</a>
  <a href="/publish/workbook/">Workbook</a>
</nav>
{% else %}
{% endif %}
{% endblock %}

{% block content %}
<section>
  <h2>{{ subtitle }}</h2>
  {{ description }}
</section>

<form method="post" action="{{ action }}" enctype="{{ enctype }}" >
{% block form %}
<p> this is the base template for editing metadata</p>
{% endblock %}
</form>


{% endblock %}
