{% extends "base.html" %}
{% block content %}

{% if entry.group %}
<nav>
  <a href="/projects/{{ entry.group }}/{{ entry.project_name }}/canonical/">Canonical</a>
  <a href="/projects/{{ entry.group }}/{{ entry.project_name }}/basic/">Basic</a>
  <a href="/projects/{{ entry.group }}/{{ entry.project_name }}/social/">Social</a>
  <a href="/projects/{{ entry.group }}/{{ entry.project_name }}/advanced/">Advanced</a>
  <a href="/projects/{{ entry.group }}/{{ entry.project_name }}/preview/">Preview</a>
</nav>
{% else %}
{% endif %}

<section>
  <h2>{{ subtitle }}</h2>
  {{ description }}
</section>

<form method="post" action="{{ action }}" enctype="application/x-www-form-urlencoded" >
{% block form %}
<p> this is the base template for editing metadata</p>
{% endblock %}
</form>


{% endblock %}
