{% extends "metadata/base.html" %}

{% block form %}
<form
  class="meta-form"
  method="post"
  action="{{ form_action }}"
  enctype="application/x-www-form-urlencoded"
  >
  <h3>{{ form_header }}</h3>
  <label>title
    <input type="text" name="title" value="{{ entry.title }}" required>
  </label>
  <label>description
    <textarea name="description" required>{{ entry.description }}</textarea>
  </label>
  <label>Author  
    <input type="text" name="author" value="{{ entry.author }}" required>
  </label>
  <label>email
    <input type="email" name="email" value="{{ entry.email }}" required>
  </label>
  <label>date
    <input type="date" name="date" value="{{ entry.date }}" required>
  </label>
  <label>Last Updated
    <input type="date" name="last_updated" value="{{ entry.last_updated }}">
    <small>Leave blank if not applicable.</small>
  </label>


  <button type="submit">Submit</button>
{% endblock %}
