{% extends "metadata/base.html" %}
{% block form %}

  <section>
  <dl>
    <dt>Group</dt><dd>{{ entry.group }}</dd>
    <dt>Project</dt><dd>{{ entry.project_name }}</dd>
    <dt>Title</dt><dd>{{ entry.title}}</dd>
  </dl>
  <br>
  <h2>Upload HTML</h2>
  <br>
  <p>Set the projects index.html file by uploading a new one. This will replace the current file.</p>
  </section>

  <form class="meta-form" method="post" action="{{ form_action }}" enctype="multipart/form-data">
    <h3>{{ entry.group }}: {{ entry.project_name }}</h3>
    <hr>

    <label>Upload Article Fragment
      <input type="file" name="index_file" accept=".html">
    </label>

    <div>
      <button type="submit">Upload</button>
      <button type="cancel">Cancel</button>
    </div>
  </form>
{% endblock %}
