{% extends "base.html" %}
{% block title %}Console{% endblock %}
{% block content %}


<div class=archive-content>
  <header>
    <p>A collection of articles and resources tracked by the  system.</p>
  <header>
    <!-- Dynamic content -->
    <h2>Latest Articles</h2>
    <ul>
    {% for meta in articles %}
      <li>
        <a href="/archive/{{ meta.canonical}}/">{{ meta.title }}</a><br>
        <small><em>{{ meta.date }}</em> — {{ meta.description }}</small>
      </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
