
{% extends "base.html" %}
{% block title %}Console{% endblock %}
{% block content %}

<h2>Create a New Project</h2>

  <form class="meta-form" method="post" action="/edit-metadata">
    <h3>Basic Metadata</h3>
    <hr>


    <label>Title
      <input type="text" name="title" value="{{ meta.title}}">
    </label>

    <label>Description
      <textarea name="description" rows="4">{{ meta.description }}</textarea>
    </label>

    <label>Author
      <input type="text" name="author" value="{{ meta.author }}">
    </label>

    <label>Publish Date
      <input type="date" name="date" value="{{ meta.date }}">
    </label>

    <label>Last Updated
      <input type="text" name="last_updated" value="{{ meta.last_updated }}">
    </label>



    <button type="submit">Next</button>
  </form>
{% endblock %}
