{% extends "base.html" %}
{% block title %}Console{% endblock %}
{% block content %}

<aside class="actions">
  <a class="btn" href="/projects/new/">Start a new project</a>
</aside>

<table>
  <thead>
    <tr><th>Date</th><th>Title</th><th></th></tr>
  </thead>
  <tbody>

    {% for article in zip_map%}
    <tr>
      <td>{{ article.date }}</td>
      <td>
        <details class="article-details">
          <summary><small>{{ article.date }} | {{ article.group }}:</small> {{ article.project_name }} </summary>
          <dl>
            <dt>Group</dt> <dd>{{ article.group}}</dd>
            <dt>Author</dt> <dd>{{ article.author }}</dd>
          </dl>
          <table class="article-links">
            <tr>
              <td><a href="archive/{{ article.canonical }}" target="">View</a></td>
              <td><a href="{{ article.path }}?edit" target="">Edit</a></td>
            </tr>
          </table>
          <table class="article-links">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{{ article.canonical}}">Mets</a></td>
                <td><a href="{{ article.path }}">Open Graph</a></td>
                <td><a href="{{ article.path }}">Twitter Card</a></td>
                <td><a href="{{ article.path }}">M.L.</a></td>
            </tbody>
          </table>
        </details>
      </td>

      <td>{{ article.public }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
