{% extends "base.html" %}

{% block content %}

  <header class="card header gap-2">
    <div class="col gap">
      <button class="btn">Change Theme</button>
      <a class="btn" href="/api/checkout/{{ entry.id }}">Checkout</a>
    </div>
    <dl>
      <dt>Public</dt> <dd>{{ entry.canon.public }}</dd>
      <dt>Project</dt> <dd>{{ entry.canon.project}}</dd>
      <dt>Group</dt> <dd>{{ entry.canon.group}}</dd>
      <dt>Last Updated</dt> <dd>{{ entry.canon.canonical }}</dd>

      <dt>Title</dt> <dd>{{ entry.basic.title }}</dd>
      <dt>Author</dt> <dd>{{ entry.basic.author }}</dd>
      <dt>Date</dt> <dd>{{ entry.basic.date}}</dd>
      <dt>Last Updated</dt> <dd>{{ entry.basic.modified}}</dd>
    </dl>

    <div class="social-preview small">
      <div class="preview-image" style="background-image: url({{ entry.social.image }});">
      </div>
      <div class="preview-text">
        <div class="preview-title">
          {{ entry.basic.title }}
        </div>
        <div class="preview-description">
          {{ entry.basic.description }}
        </div>
      </div>
    </div>
  </header>


    <article>
      <h2>Title: {{ entry.basic.title }}</h2>
      <em>Description: {{ entry.basic.title }}</em><br>
      <em>Published: {{ entry.basic.date}}</em>

      {{ fragment | safe }}

    </article>

  <script>
    const themes = ['light', 'dark', 'dolphin', 'neon'];
    const button = document.querySelector('button');
    document.addEventListener('DOMContentLoaded', () => {
      document.documentElement.classList.add('dark');
    });

    button.addEventListener('click', () => {
      let currentTheme = null;
      let themeIndex = 0;
      themes.forEach((theme, i) => {
        if (document.documentElement.classList.contains(theme)) {
          currentTheme = theme;
          document.documentElement.classList.remove(theme);
          themeIndex = i;
        }
      });
      themeIndex = themeIndex + 1;
      if (themeIndex >= themes.length) {
        themeIndex = 0;
      }
      document.documentElement.classList.add(themes[themeIndex]);
    });
  </script>

{% endblock %}
